.vercel
.env
node_modules
*.lock
.idea/
coverage
benchmarks
vercel_token

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

.vercel
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
